:root {
	--bg-color-primary: #10b981;
	--bg-color-secondary: #047857;
	--bg-color-highlight: #6ee7b7;
	--text-color-primary: #000000;
	--text-color-secondary: #ffffff;
	--text-color-highlight: #000000;
	--border-color: #000000;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	align-items: center;
	background-color: var(--bg-color-primary);
	color: var(--text-color-primary);
}

* {
	box-sizing: border-box;
	border: 1px solid var(--border-color);
}

header {
	width: 100%;
	padding: 20px;
	background-color: var(--bg-color-secondary);
	color: var(--text-color-secondary);
	display: flex;
	justify-content: space-between;
}

nav {
	display: flex;
	justify-content: space-around;
	width: 80%;
}

button {
	height: 50px;
	width: fit-content;
	padding: 10px 30px;
	border-radius: 5px;
	background-color: var(--bg-color-highlight);
	color: var(--text-color-highlight);
}

button:hover {
	text-decoration: underline;
	cursor: pointer;
}

#darkmode {
	padding: 10px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

#content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#headline {
	background-color: var(--bg-color-secondary);
	color: var(--text-color-secondary);
	width: 100%;
	padding: 20px 50px;
	margin: 50px 0;
	text-align: center;
}

.container {
	display: grid;
	grid-template-columns: 3fr 2fr;
	width: 80%;
	min-height: 400px;
	height: 70vh;
	padding: 50px;
	background-color: var(--bg-color-primary);
	color: var(--text-color-primary);
}

.col {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

img {
	max-width: 100%;
}
